<mat-toolbar>
       <mat-toolbar-row>
              <img src="/assets/images/digital-library.jpg">

              &nbsp;
              &nbsp;

              <a [routerLink]="['/home']">
                     <span class="glyphicon glyphicon-home"></span>
              </a>

              <span> <a [routerLink]="['catalog']">Catalog</a> </span>

              <span> <a [routerLink]="['books/viewAllActiveBooks']"> Books</a> </span>

              <span> <a>Members</a> </span>

              <span> <a>Search Books</a> </span>

              <span> <a>Reports</a> </span>

              <span class="spacer"></span>

              <span> <a class="login"> Login </a> </span>

              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                     <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                     <mat-list>
                            <mat-list-item>
                                   <button mat-menu-item [routerLink]="['Profile']">
                                          Profile
                                   </button>
                            </mat-list-item>

                            <mat-divider></mat-divider>

                            <mat-list-item>
                                   <button mat-menu-item>
                                          Logout
                                   </button>
                            </mat-list-item>
                     </mat-list>
              </mat-menu>
       </mat-toolbar-row>
</mat-toolbar>