<div class="centerImage">

    <form [formGroup]="loginForm">
        <mat-card class="loginAlignment" style="float: right;">
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="email" formControlName="emailId" required>
                </mat-form-field>

                &nbsp;

                <mat-form-field>
                    <input matInput placeholder="password" formControlName="password" required>
                </mat-form-field>

                <div></div>

                <button class="btn btn-primary" style="float: right;" type="submit" [disabled]="!loginForm.valid"
                    (click)="onSignIn()">
                    Sign in
                </button>

            </mat-card-content>
        </mat-card>

    </form>


    <form [formGroup]="registerForm" style="float: right;">
        <mat-card class="registerAlignment">


            <h1> <span class="regLbl">New here? please register </span></h1>

            <mat-card-content>

                <mat-form-field>
                    <input matInput placeholder="Firstname" minlength="4" maxlength="30" pattern="[a-zA-Z ]*$" required
                        formControlName="firstName" />
                </mat-form-field>

                &nbsp;

                <mat-form-field>
                    <input matInput placeholder="Lastname" minlength="4" maxlength="30" pattern="[a-zA-Z ]*$" required
                        formControlName="lastName" />
                </mat-form-field>

                <br>

                <mat-form-field>
                    <input matInput placeholder="Aadhaar #" minlength=10 maxlength=10 pattern="[0-9]*" digitOnly
                        required formControlName="memberId" />
                </mat-form-field>

                &nbsp;

                <mat-form-field>
                    <input matInput placeholder="Email ID" (change)="findEmailId($event, registerForm.value)" required
                        formControlName="emailId" />
                </mat-form-field>

                &nbsp;

                <mat-form-field>
                    <input matInput placeholder="Password" required formControlName="password" />
                </mat-form-field>

                <div *ngIf="foundFlag" class="text-danger msgDisplay"> {{msg}} </div>

                <div></div>

                <button class="btn btn-primary" style="float: right;" [disabled]="!registerForm.valid"
                    (click)="onRegister()">
                    Sign up </button>

            </mat-card-content>

        </mat-card>

    </form>
</div>