  mat-tab {
    margin-right: 14px;
  }

  mat-form-field{
    width:300px;
    margin-right: 20px;
  }

  .fixedButtonRegister {
    position: absolute;
    right: 310px;
    bottom: 8px;
   }

  .fixedButtonCancel {
    position: absolute;
    right: 400px;
    bottom: 8px;
  }

  form {
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 10px;
    background: lightcyan;
    border-color: brown;
    border-width: 4px;
    border-style: solid;
    padding: 35px;
  }
  

