<form #isbnForm="ngForm">

    <mat-card *ngIf="msg && !showAddForm">
        <mat-card-content class="alert alert-warning">
            {{msg}}
            <div class="isbn"> <b> isbn : {{isbn}} </b> </div>
        </mat-card-content>
    </mat-card>

    <br>
    <br>

    <mat-form-field>
        <input matInput [disabled]="showAddForm" placeholder="Enter ISBN and click on the Fetch button" minlength="13"
            maxlength="13" name="isbn" required ngModel />
    </mat-form-field>

    &nbsp;
    &nbsp;

    <button type="button" class="btn btn-primary fixedbuttonsubmit" [disabled]="isbnForm.form.invalid"
        (click)="onFetch(isbnForm.value)"> Fetch </button>


    <a (click)="onClick()" class="btn btn-primary fixedbutton">
        Back
    </a>

</form>


<ng-container *ngIf="showAddForm">
    <app-add-book [parentData]="isbn"></app-add-book>
</ng-container>