<mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <div class="innerTxt">New Arrivals
                    <div> {{newArrivalsCount}} </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <div class="innerTxt">New Members
                    <div> {{newMembersCount}} </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <div class="innerTxt">Current Outstanding
                    <div> {{currentOutstanding}} </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>