<form #userForm="ngForm">
    <!-- <mat-card *ngIf="msg"> -->
    <mat-card *ngIf="foundFlag">
        <mat-card-content class="alert alert-warning">
            {{msg}}
            <!-- <div> <span class="isbn"> <b> isbn : {{isbn}} </b> </span> </div> -->
            <div> <span class="isbn"> <b> isbn : {{dispIsbn}} </b> </span> </div>

        </mat-card-content>
    </mat-card>

    <div>
        <h1 align="center"> New Book Entry </h1>
    </div>

    <mat-tab-group>
        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="ISBN" (change)="findIsbn($event, userForm)" minlength="13" maxlength="13"
                    name="isbn" style="color: blue; font-weight: bold;" pattern="[0-9]*" digitOnly required
                    [(ngModel)]="isbn" />
            </mat-form-field>

        </mat-tab>

        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="Book Title" minlength="4" maxlength="40" pattern="[a-zA-Z ]*$"
                    [disabled]="foundFlag" name="bookTitle" required ngModel />
            </mat-form-field>
        </mat-tab>

        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="publisher" minlength="4" maxlength="40" pattern="[a-zA-Z ]*$"
                    [disabled]="foundFlag" name="publisher" required ngModel />
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>

    <br>

    <mat-tab-group>
        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="Inclusion Date" [min]="minDate" [max]="maxDate"
                    [matDatepicker]="datePicker" [disabled]="foundFlag" name="inclusionDate" required ngModel>

                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
        </mat-tab>


    </mat-tab-group>


    <mat-tab-group>
        <mat-tab>
            <mat-form-field>
                <input matInput="author" placeholder="Author" minlength="4" maxlength="30" pattern="[a-zA-Z ]*$"
                    [disabled]="foundFlag" name="author" required ngModel />
            </mat-form-field>
        </mat-tab>


        <mat-tab>
            <mat-form-field>
                <mat-select class="custom-scroll-bar" placeholder="Book Category" ngModel [disabled]="foundFlag"
                    name="bookCategory" required>
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{category}}
                    </mat-option>

                </mat-select>
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>


    <mat-tab-group>
        <mat-tab>
            <mat-form-field>

                <mat-select class="custom-scroll-bar" placeholder="Language" ngModel [disabled]="foundFlag" name="lang"
                    required>
                    <mat-option *ngFor="let lang of languages" [value]="lang">
                        {{lang}}
                    </mat-option>

                </mat-select>
            </mat-form-field>
        </mat-tab>

        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="Price" [disabled]="foundFlag" name="bookPrice" required ngModel />
            </mat-form-field>
        </mat-tab>

        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="Page Count" minlength="2" maxlength="3" [disabled]="foundFlag"
                    name="pageCount" required ngModel />
            </mat-form-field>
        </mat-tab>

    </mat-tab-group>

    <br>
    <br>

    <mat-tab-group>
        <mat-tab>
            <mat-form-field>
                <input matInput="bookImageName" placeholder="Select a file to upload" />

                <input type="file" id="#uploadFile" ngModel name="bookImageName" [disabled]="foundFlag" accept="image/*"
                    (change)="fileUpload($event)" />

                <mat-label class="err" *ngIf="errMsg">
                    {{errMsg}}
                </mat-label>

                <img src="{{previewUrl}}" />
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>


    <br>
    <br>

    <mat-tab-group>
        <mat-tab>
            <button type="button" class="btn btn-primary fixedbuttoncancel" (click)="onCancel()"> Cancel </button>

            &nbsp;

            <button type="button" class="btn btn-primary fixedbuttonsubmit" [disabled]="userForm.form.invalid"
                (click)="onSubmit(userForm.value)"> Submit </button>
        </mat-tab>
    </mat-tab-group>

</form>