
.fixedbuttonsubmit {
    position: absolute;
    bottom: 10px;
    right: 20px;
    /* background-color: blue;
    color:white; */
  }

  .fixedbuttoncancel {
    position: absolute;
    bottom: 10px;
    right: 120px;
    /* background-color: blue;
    color:white; */
  }

  mat-tab {
    margin-right: 14px;
  }

  /* mat-select {
    width:20px;
    min-width: 140px;
  } */

  mat-form-field{
    width:300px;
    margin-right: 20px;
  }

  form {
    margin-left: 12px;
  }