<div>
    <h1 align="center" >   New book entry </h1>
</div>

<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>

<form #userForm="ngForm">
    <mat-tab-group>
        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="ISBN" 
                            minlength="13" 
                            maxlength="13" 
                            name="isbn" 
                            required ngModel/>
            </mat-form-field>

        </mat-tab>

        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="Book Title" 
                            minlength="4" 
                            maxlength="40" 
                            name="bookTitle" 
                            required ngModel/>
            </mat-form-field>
        </mat-tab>

        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="publisher"
                            minlength="4" 
                            maxlength="40" 
                            name="publisher" 
                            required ngModel/>
            </mat-form-field> 
        </mat-tab>
    </mat-tab-group>

    <br>

    <mat-tab-group>
        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="Inclusion Date"
                                [matDatepicker]="datePicker" 
                                name="inclusionDate"
                                required ngModel>

                                 <!-- [min]="minDate" 
                                [max]="maxDate"  -->

                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
        </mat-tab>

      
    </mat-tab-group>

    
    <mat-tab-group>
        <mat-tab>
            <mat-form-field>
                <input matInput="author" placeholder="Author" 
                            minlength="4" 
                            maxlength="30" 
                            name="author" 
                            required ngModel/>
            </mat-form-field>
        </mat-tab>
      
        
        <mat-tab>
            <mat-form-field>
                <mat-select class="custom-scroll-bar" placeholder="Book Category"
                            ngModel name="bookCategory" required>
                            <mat-option  *ngFor="let category of categories" 
                                        [value]="category">
                                        {{category}}
                            </mat-option>
                            
                </mat-select>
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>

        <br>
        <br>

        <mat-tab-group>
            <mat-tab>
                <mat-form-field>
                    <input matInput="bookImageName" placeholder="Select a file to upload"/>
            
                    <input type="file" ngModel name="bookImageName"
                                accept="image/*" (change)="fileUpload($event)" />
                    
                    <ng-container class="err" *ngIf="errMsg">
                            {{errMsg}}
                    </ng-container>            

                    <img src="{{previewUrl}}"/>
                </mat-form-field>
            </mat-tab>
        </mat-tab-group>
    

    <br>
    <br>
             
    <mat-tab-group>
        <mat-tab>
                <button type="button" class="btn btn-primary fixedbuttoncancel" 
                                    (click)="onCancel()"> Cancel </button>

                &nbsp;

                <button type="button" class="btn btn-primary fixedbuttonsubmit" 
                                    [disabled]="userForm.form.invalid" 
                                    (click)="onSubmit(userForm.value)"> Submit </button>
        </mat-tab>
    </mat-tab-group>

</form>
