mat-sidenav-container {
    height:552px;
    position: fixed;
    top: 164px;
}

mat-sidenav {
    background-color: #198ed2;
    width:250px;
    padding:16px;
}

mat-list-item {
    font: menu;
    font-size: large;
    font-weight: 200;
    padding-left: 10px;
}


mat-sidenav-content{
    width: 1310px;
    background-color: lightcyan;
}

mat-slide-toggle {
    font-style: normal;
    font-size: x-large;
}

mat-icon{
    font-size: xx-large;
    color:black;
}

a {
    font-weight: normal;
    padding: 10px 5px;
    font-size: .80em;
    color: white
  }


.thumbnail img{
    height: 180px;
    width: 140px;
    border:solid 1px #cccccc;
}


img {
    height: 35px;
    width: 35px;
}