<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>

        <!-- Sidenav content -->
        <mat-list *ngIf="url==='books'">
            <mat-list-item>
                <a [routerLink]="['addBook']"> <img src="\assets\images\addBook.png" />
                    <span style="color: white;"> Add Book </span>
                </a>
            </mat-list-item>
            <br>
            <br>
            <mat-list-item>
                <a [routerLink]="['viewAllActiveBooks']"> <img src="\assets\images\allBooks.png" />
                    <span style="color: white;"> Active Books </span>
                </a>
            </mat-list-item>
            <br>
            <br>
            <mat-list-item> <a> Issued Books </a></mat-list-item>
            <br>
            <br>
            <mat-list-item> <a> Returned Books </a></mat-list-item>
            <br>
            <br>
            <mat-list-item> <a [routerLink]="['viewAllInActiveBooks']"> View all Inactive Books </a></mat-list-item>
        </mat-list>

        <mat-list *ngIf="url==='catalog'">
            <mat-list-item> <a [routerLink]="['viewAll']"> View all </a>
            </mat-list-item>
            <br>
            <br>
            <mat-list-item> <a [routerLink]="['computerScience']"> Computer Science </a>
            </mat-list-item>
            <br>
            <br>
            <mat-list-item> <a [routerLink]="['philosophy']"> Philosophy </a></mat-list-item>
            <br>
            <br>
            <mat-list-item> <a [routerLink]="['medicalScience']"> Medical Science </a>
            </mat-list-item>
            <br>
            <br>
            <mat-list-item> <a [routerLink]="['artAndLiving']"> Art and Living </a></mat-list-item>
            <br>
            <br>
            <mat-list-item> <a [routerLink]="['astronomy']"> Astronomy </a></mat-list-item>
            <br>
            <br>
            <mat-list-item> <a [routerLink]="['aviation']"> Aviation </a></mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="centerImage">
        <!-- Main content -->

        <mat-slide-toggle *ngIf="url==='books/viewAllActiveBooks'">Active list</mat-slide-toggle>


        <router-outlet> </router-outlet>

        <!-- <div class="centerImage">
            <router-outlet></router-outlet>
        </div> -->

    </mat-sidenav-content>

</mat-sidenav-container>