
/* Structure */
table {
    width: 100%;
    margin-right: auto;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .fixedbutton {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }

  .mat-header-cell{
    color:blue;
    font-weight: bold;
  }

  mat-card-content {
    top:2px;
    height:6px;
    color: green;
    font-weight: bold;
    text-align: center;
  }

  form {
    margin-left: 12px;
  }