.example-tree-invisible {
    display: none;
}
  
  .example-tree ul,
  .example-tree li {
     list-style-type: none;
  }


  mat-grid-list{
    width:1200px;
  }

 mat-grid-tile{
  padding-top: 380px !important;
  height:350px;
 }

 mat-grid-tile-header{
  justify-content: center;
  width:400px;
  margin-top: 20px;
}
  
 mat-grid-tile mat-grid-tile-header {
  margin-left: 20px;
  background-color: darkcyan;
 }
 
 
 mat-tree-node {
    min-height: 0px !important;
    height: 20px !important;
 }


 mat-nested-tree-node {
   white-space: nowrap;
 }


 mat-tree {
    width:400px;
    height:300px;
    margin-left: 20px;
    margin-top:55px;
 }

 
 .bookTree {
    overflow-y: scroll;
    height: 300px;
  }

  .memberTree {
    overflow-y: scroll;
    height: 300px;
  }

  mat-card{
    width: 200px;
    text-align:center;
  }

  table {
    width: 60%;
    margin-right: auto;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .mat-header-row {
    background-color: darkcyan;
  }

  th.mat-header-cell {
    color: white;
    font-size: 14px;
  }

   .confirmButton {
    position: fixed;
    bottom: 10px;
    right: 20px;
  }

  .cancelButton {
    position: fixed;
    bottom: 10px;
    right:100px;
  }