<head>
    <title>View all active Books</title>
</head>

<div>
    <mat-card *ngIf="msgFlag">
        <mat-card-content class="alert alert-success"> {{msg}}
            <div> <span class="isbn"> <b> isbn : {{isbn}} </b> </span> </div>
        </mat-card-content>
    </mat-card>
</div>

<body>
    <form #inActiveForm="ngForm">

        <h1 align="center">Archived List</h1>

        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- ISBN Column -->
            <ng-container matColumnDef="isbn">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> isbn </th>
                <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
            </ng-container>

            <!-- BookTitle Column -->
            <ng-container matColumnDef="bookTitle">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Book Title </th>
                <td mat-cell *matCellDef="let element"> {{element.bookTitle}} </td>
            </ng-container>

            <!-- Author Column -->
            <ng-container matColumnDef="author">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Author </th>
                <td mat-cell *matCellDef="let element"> {{element.author}} </td>
            </ng-container>


            <!-- Publisher Column -->
            <ng-container matColumnDef="publisher">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Publisher </th>
                <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
            </ng-container>

            <!-- ArchiveReason Column -->
            <ng-container matColumnDef="bookArchiveReason">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Archive Reason </th>
                <td mat-cell *matCellDef="let element"> {{element.bookArchiveReason}} </td>
            </ng-container>


            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> action </th>
                <td mat-cell *matCellDef="let element">
                    <a (click)="moveToActiveView(element.isbn)">
                        <span class=" glyphicon glyphicon-folder-open"></span>
                    </a>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="showDetails(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons></mat-paginator>

    </form>
</body>