<div>
    <h1 align="center">Edit Book </h1>
</div>


<form #editForm="ngForm" *ngFor="let book of books">
    <mat-tab-group>


        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="ISBN" disabled minlength="13" maxlength="13" name="isbn" required
                    [(ngModel)]="book.isbn" value={{book.isbn}} />
            </mat-form-field>

        </mat-tab>

        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="Book Title" minlength="4" maxlength="40" name="bookTitle" required
                    [(ngModel)]="book.bookTitle" value={{book.bookTitle}} />
            </mat-form-field>
        </mat-tab>

        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="publisher" minlength="4" maxlength="40" name="publisher" required
                    [(ngModel)]="book.publisher" value={{book.publisher}} />
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>

    <br>

    <mat-tab-group>
        <mat-tab>
            <mat-form-field>
                <input matInput placeholder="Inclusion Date" [min]="minDate" [max]="maxDate"
                    [matDatepicker]="datePicker" name="inclusionDate" required [(ngModel)]="book.inclusionDate"
                    value={{book.inclusionDate}}>


                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
        </mat-tab>

    </mat-tab-group>

    <mat-tab-group>
        <mat-tab>
            <mat-form-field>
                <input matInput="author" placeholder="Author" minlength="4" maxlength="30" name="author" required
                    [(ngModel)]="book.author" value={{book.author}} />
            </mat-form-field>
        </mat-tab>



        <br>

        <mat-tab>
            <mat-form-field>
                <mat-select placeholder="Book Category" [(ngModel)]="book.bookCategory" value={{book.bookCategory}}
                    name="bookCategory" required>
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{category}}
                    </mat-option>

                    <!-- [(ngModel)]="city.cityName" -->
                </mat-select>
            </mat-form-field>
        </mat-tab>

    </mat-tab-group>


    <mat-tab-group>
        <mat-tab>
            <mat-form-field>
                <input matInput="bookImageName" placeholder="Select a file to upload" />

                <input type="file" ngModel name="bookImageName" accept="image/*" (change)="fileUpload($event)" />

                <ng-container class="err" *ngIf="errMsg">
                    {{errMsg}}
                </ng-container>

                <img src="{{previewUrl}}" />
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>

    <br>
    <br>

    <mat-tab-group>
        <mat-tab>
            <button type="button" class="btn btn-primary fixedbuttoncancel" (click)="onCancel()"> Cancel </button>

            &nbsp;

            <button type="button" class="btn btn-primary fixedbuttonsubmit" [disabled]="editForm.form.invalid"
                (click)="onUpdate(editForm.value)"> Update </button>
        </mat-tab>
    </mat-tab-group>

</form>